.title_wri_sum {
  /* border: 1px solid #000; */
  position: relative;
  width: 60%;
  margin: 0 auto;
  /* top: 150px; */
  margin-top: 150px;
}

.detail_title {
    /* border: 1px solid #000; */
    position: relative;
    width: 60%;
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 20px;
}

.writer_date {
    position: relative;
    /* border: 1px solid #000; */
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 50px;
    width: 40%;
}

.book_summary {
    position: relative;
    /* border: 1px solid #000; */
    width: 60%;
    margin-bottom: 100px;
    line-height: 150%;
}





.img_price_btn {
    position: relative;
    /* border: 1px solid #000; */
    width: 80%;
    margin: 0 auto;
}

.detail_img {
    position: relative;
    display: inline-block;
    margin-left: 15%;
    margin-right: 10%;
    width: 25%;
    /* border: 1px solid #000; */
}

.detail_img > img {
    width: 100%;
}

.img_right {
    position: absolute;
    display: inline-block;
    width: 50%;
    /* border: 1px solid #000; */

}


.det_top_star {
    position: relative;
    margin-top: 2%;
    margin-bottom: 10%;
}

.top_star_score {
    position: relative;
    display: inline-block;
    margin-left: 2%;
    font-weight: 500;
}

.top_star_count {
    display: inline-block;
    font-weight: 300;
}

.price_point_set_1 {
    /* border: #000 solid 1px; */
    display: block;
    margin-bottom: 2%;
}
.price_point_title_1 {
    display: inline-block;
    margin-right: 10%;
    font-weight: 300;
}

.price_point_detail_1 {
    display: inline-block;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 200%;
}

.won {
    display: inline-block;
    font-size: 0.7em;
    font-weight: 300;
}

.price_point_set_2 {
    /* border: #000 solid 1px; */
    display: block;
    margin-bottom: 2%;
}

.price_point_set_3 {
    /* border: #000 solid 1px; */
    display: block;
    margin-bottom: 7%;
}

.price_point_title_2, .price_point_title_3 {
    display: inline-block;
    margin-right: 10%;
    font-weight: 300;
}

.price_point_detail_2, .price_point_detail_3 {
    display: inline-block;
    font-size: 1em;
    font-weight: 400;
    line-height: 200%;
}
.won_3 {
    display: inline-block;
    font-size: 1em;
    font-weight: 300;
}





.count_btn_ib {
    display: inline-block;
}

.count_btn {
    border: #000 1px solid;
    border-radius: 5px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
}

.count_minus, .count_plus {
    background: none;
    border: none;
}

.count_minus{
    position: relative;
    display: inline-block;
    padding: 0px 8px 8px 8px;
    margin-right: 15px;
}

.count_minus > img {
    width: 15px;
}

.count_plus {
    position: relative;
    display: inline-block;
    padding: 4px 8px;
}

.count_plus > img {
    width: 15px;
}

.count_num {
    display: inline-block;
    margin-right: 15px;
}

.payment_price {
    position: relative;
    display: inline-block;
    font-size: 1.5em;
    font-weight: 400;
    /* line-height: 200%; */
    margin-left: 30px;
    top: 7px;
}

.won_4 {
    position: relative;
    display: inline-block;
    font-size: 1em;
    font-weight: 300;
    top: 7px;
    left: 5px;
}




.pay_cart_like {
    /* border: #000 solid 1px; */
    /* background-color: #4E4EFF; */
    margin-top: 3%;
    display: flex;
}



.pay_btn {
    width: 170px;
    background: #4E4EFF;
    color: #fff;
    border: #000 1px solid;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1.2em;
    font-weight: 500;
}

.go_to_cart {
    border: none;
    background: none;
    /* border: #000 1px solid; */
    width: 50px;
    display: inline-block;
    margin-left: 16px;
    position: relative;
    top: 3px;
}

.go_to_cart > img {
    width: 100%;
}


.detail_like_btn {
    border: none;
    background: none;
    border: #000 1px solid;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
    position: relative;
    top: 3px;
    
}



.detail_main_next_hr {
    margin-top: 5%;
    margin-bottom: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}





.detail_review_set {
    width: 60%;
    border: #000 1px solid;
    margin: 0 auto;
}